<!DOCTYPE html>
<html>
  <head>
    <title>Chatter Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">

  </head>
  <body>
  <!-- Script References -->
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/javascripts/main.js"></script>
  <!-- End Script References -->

  </body>
</html>